.Problem {
    text-align: center;
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    margin: 0px auto;
    padding: 40px 10px 5px 10px;
    background-color:white;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px darkgrey;
}

.Problem-exp {
    font-size: 50px;
    margin: 0px 0px 10px 0px;
}

.Problem-answer {
    height: 280px;
    font-size: 60px;
    text-align: center;
}

.Problem-answer-field {
    width: 200px;
    height: 80px;
    border-radius: 5px;
}

.Problem button {
    display: inline-block;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 30px;
}

.Problem button:hover:enabled, .Problem button:focus {
    cursor: pointer;
    box-shadow: 0 0 0 3px lightgrey;
}

.Problem-check-btn {
    background-color: #2B7C85;
    color: white;
    border: 3px solid #2c5d63;
    border-radius: 8px;
}

.Problem-new-btn-div {
    text-align: right;
    display: flex;
    justify-content: space-between;
}


.Problem-icon {
    display: inline-block;
    font-size: 30px;
    margin: 15px 3px 0px 3px;
    color: #767676;
}

.Problem-icon-off {
    color: lightgrey;
}

.Problem-other-btn {
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 5px;
}


.Problem-check-btn:disabled {
    font-weight: normal;
    color: white;
    background-color: lightgrey;
    border: 3px solid white;
}


.Problem-status {
    /* display: flex; */
    margin: 20px 0px 0px 0px;
}

.Problem-status h1 {
    /* display: inline-block; */
    margin: 0px;
    padding: 0px;
    font-size: 50px;
}

.Problem-prev-attempts {
    min-height: 30px;
    padding: 0px;
}
  
.Problem-prev-attempts p {
    margin: 0px;
    font-size: 20px;
}
