.Scoreboard {
    min-width: 155px;
    height: 80px;
    margin: 0px auto;
    padding: 0px;
    border: 1px solid darkgrey;
    border-radius: 8px;
}

.Scoreboard p {
    font-size: 25px;
    margin: 6px;
    color: #2B7C85;

}

/* @media (min-width: 1024px) {
    .Scoreboard {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        border: none;
    }
}

@media (min-width: 1024px) {
    .Scoreboard p {
        font-size: 30px;
        margin: 0px;
    }
}
 */

